    <title>VideoWall</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/app.js"></script>