    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Video recorder</h3>
        </div>
        <div class="panel-body">
            <div class="embed-responsive embed-responsive-4by3">
                <video id="camera" class="embed-responsive-item" width="720" height="576" controls autoplay>
                </video>
            </div>
            <a href="https://github.com/chrisjohndigital/CameraCaptureJS" class="btn btn-default">Add a video recorder</a>
        </div>
    </div>